@import "variables.scss";

html, body {
  margin: 0;
  padding: none;
}

body {
  font-size: $font-size;
  line-height: $line-height;
}

html {
  font-size: 62.5%;
  font-family: Quattrocento Sans, Book Antiqua, Georgia, serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: $color-flair;
}

/* IE 11 fix for contact section */
ul li {
  hyphens: auto;
}

.page {
  padding: $page-padding calc($page-padding / 2);
}
