@import "typography.scss";

$page-padding: 5rem;
$font-size: $m;
$line-height: $l-line-height;
$max-page-width: 1200px;
$break-point: 992px;

$color-body-text: #444;

$color-flair: #fed00f;
$color-flair-2: #FE9808;
$color-gray: #efefef;
$color-dark-gray: #5a5a5a;
$color-white: #eee;
$color-pure-white: #fff;
$color-pure-black: #000;

.bggray {
  background-color: $color-gray;
}
