.bggray {
  background-color: $color-gray;
}

$page-padding: 5%;
$font-size: 16px;
$line-height: 1.6;
$max-page-width: 1200px;
$break-point: 992px;

$flair-color: #fed00f;
$color-gray: #e8e8e8;
$color-dark-gray: #545454;
