$page-padding: 10rem;
$font-size: 16px;
$line-height: 1.6;
$max-page-width: 1200px;
$break-point: 992px;

$color-body-text: #444;

$color-flair: #fed00f;
$color-gray: #efefef;
$color-dark-gray: #545454;
$color-white: #eee;

.bggray {
  background-color: $color-gray;
}
