@import "../../scss/variables.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96rem;
}

.read-more {
  font-size: $m;
  font-style: italic;
}

.article {
  color: $color-body-text;
  flex-direction: column;
  flex-wrap: wrap;
  /* a flex-basis is needed to get around flex bug in Safari */
  /* https://bugs.webkit.org/show_bug.cgi?id=136041 */
  flex: 1 1 30%;
  font-size: $l;
  padding: 1.5rem;

  .image-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1.5rem;

    .preview {
      background-position: center center;
      background-size: cover;
      flex: 1;
      height: 15rem;
    }
  }

  .description {
    min-width: 24rem;

    .subtitle {
      font-size: $m;
      margin-top: 1rem;
    }
  }
}

.article:first-child {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  min-width: calc(100% - $page-padding);
  max-width: 100%;

  .image-wrapper {
    background-position: center center;
    background-size: cover;
    flex: 2.1;
    margin-right: 3rem;
    max-width: 100%;
    min-width: 26rem;

    .preview {
      height: 40rem;
    }
  }

  .description {
    flex: 1;
  }
}

.visit-blog {
  margin: 4rem auto 0;
  text-align: center;
  width: 100%;
}

.visit-blog-link {
  composes: pill from "../../scss/globals.scss";
}
