@import "../../scss/variables.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 96rem;
}

.read-more {
  font-size: 1.6rem;
  font-style: italic;
  line-height: 5rem;
}

.article {
  color: $color-body-text;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  font-size: 2.2rem;
  padding: 1.5rem;

  .image-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1.5rem;

    .preview {
      background-position: center center;
      background-size: cover;
      flex: 1;
      height: 15rem;
    }
  }

  .description {
    min-width: 24rem;

    .title {
      font-weight: 300;
    }

    .subtitle {
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }
}

.article:first-child {
  display: flex;
  flex-direction: row;
  min-width: calc(100% - $page-padding);

  .image-wrapper {
    background-position: center center;
    background-size: cover;
    flex: 2.1;
    margin-right: 3rem;
    max-width: 100%;
    min-width: 26rem;

    .preview {
      height: 40rem;
    }
  }

  .description {
    flex: 1;
  }
}

.visit-blog {
  margin: 4rem auto 0;
  text-align: center;
  width: 100%;
}

.pill {
  border-radius: 2em;
  border: .15em solid $color-flair;
  padding: 1em 1.6em;

  &:hover {
    background-color: $color-flair;
  }

  &:active {
    background-color: $color-white;
  }
}
