.bar {
  background-color: black;
}

.links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.link {
  padding: 1rem 2rem;
  color: #eee;

  &:hover {
    text-decoration: none;
    background-color: #333;
  }
}
