.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 960px;

  flex-direction: row;
}

.description {
  width: 100%;
  text-align: center;
}

.project {
  /* Need a flex-basis for a Safari flexbox bug */
  /* https://bugs.webkit.org/show_bug.cgi?id=136041 */
  flex: 0 1 auto;
  max-width: 25rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .image {
    min-height: 20rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .subtitle {
    text-align: center;
  }
}
