.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 960px;

  flex-direction: row;
}

.description {
  width: 100%;
  text-align: center;
}

.project {
  flex: 1;
  min-width: 20rem;
  width: 33%;
  max-width: 50rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .image {
    min-height: 20rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .subtitle {
    text-align: center;
  }
}
