@import "../../scss/variables.scss";

.wrapper {
  background-color: #e8e8e8;
  padding: 3.4rem;
  width: 29rem;
  height: 25rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-weight: 600;
    font-size: large;
    width: 100%;
  }

  &:hover {
    background-color: $flair-color;
  }
}

.image {
  margin-bottom: 2rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
}
