.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 112rem;
  flex-flow: row wrap;
}

.contact {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto 0;
}
