@import "../../scss/variables.scss";

.contact-us-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  width: 100%;
  background-color: #545454;
  justify-content: space-around;
  align-items: center;
}

.details {
  width: 30vw;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  color: white;
  div {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.map {
  width: 70vw;
  min-width: $break-point;
  padding: 30px 0;
  height: 60vh;
  display: flex;
}
