@import "../../scss/variables.scss";

.contact-us-container {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  width: 100%;
  background-color: $color-dark-grey;
  align-items: center;
}

.unindent-list {
  width: 100%;
  padding-left: 0;
}

.pin-icon {
  list-style-image: url("components/ContactSection/svg/pin.svg");
}

.train-icon {
  list-style-image: url("components/ContactSection/svg/train.svg");
}

.bus-icon {
  list-style-image: url("components/ContactSection/svg/bus.svg");
}

.car-icon {
  list-style-image: url("components/ContactSection/svg/car.svg");
}

.details {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 60px;
  color: #ffffff;

  div {
    width: 100%;
    margin: 0 0 20px;
  }
}

.map {
  min-width: 60vw;
  flex: 1;
  height: 60vh;
  min-height: 50rem;
}
