.cbp-ig-icon {
  display: inline-block;
  color: #666;
  padding: 0.2em;
  font-family: 'devicon';
  font-size: 4.8em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
