.cbp-ig-icon {
  display: inline-block;
  height: 144px;
  width: 144px;
  color: #000000;
  opacity: .35;
  padding: 0.4em;
  font-family: 'devicon';
  font-size: 8rem;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  &:hover {
    cursor: default;
    transform: scale(1.2,1.2);
  }
}

img {
  margin-bottom: 0;
}
