@import "../scss/variables.scss";

.header {
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  color: $color-dark-gray;
  width: 100%;

  &::after {
    display: block;
    position: relative;
    margin: 2rem auto;
    width: 6rem;
    height: 0.4rem;
    background: $color-flair;
    content: "";
  }
}

.body-text {
  max-width: $max-page-width;
  margin-top: 4rem;
  font-size: 2.3rem;
  text-align: center;
  color: $color-body-text;
}

.center {
  text-align: center;
}

.section {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: $break-point) {
  .section {
    padding: 2vh 5vw;
  }
}

.bgcolor {
  composes: bgcolor from '../scss/variables.scss';
}
