@import "../scss/variables.scss";

.header {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  color: $color-body-text;
  width: 100%;
  margin: 0 auto 2rem auto;

  &::after {
    display: block;
    position: relative;
    margin: 2rem auto;
    width: 6rem;
    height: 0.4rem;
    background: $color-flair;
    content: "";
  }
}

.mission-container {
  min-width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mission-wrapper {
  display: block;
  text-align: center;
  margin: 0 4vw;
}

.mission-icon {
  //max-height: 40vh;
  min-width: 25rem;
  width: 15vw;
}

.mission-text {
  width: 25rem;
  min-width: 20rem;
  margin: auto;
  font-size: 2rem;
  color: $color-body-text;
}

.center {
  text-align: center;
}

.section {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: $break-point) {
  .section {
    padding: 2vh 5vw;
  }
}

.bgcolor {
  composes: bgcolor from '../scss/variables.scss';
}
