.dotted {
  cursor: pointer;
  text-decoration: none;

  &:after {
    position: relative;
    bottom: 0;
    content: "";
    margin: 0 auto;
    width: 100%;
    display: block;
    background: #eee;
    width: 7px;
    height: 7px;
    border-radius: 100%;
  }
}

.dotted-hover {
  &:hover {
    cursor: pointer;
    text-decoration: none;

    &:after {
      position: relative;
      bottom: 0;
      content: "";
      margin: 0 auto;
      width: 100%;
      display: block;
      background: #eee;
      width: 7px;
      height: 7px;
      border-radius: 100%;
    }
  }
}

.gdsbackground {
  align-items: center;
  background: url('components/TopNav/HeroImage/background.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: auto;
}

.fullsize {
  height: 100vh;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.link {
  font-family: "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 0.3rem;
  padding: calc(1rem + 3.5px) 2rem 1rem 2rem;
  color: #eee;
  composes: dotted-hover;
}

.current {
  composes: dotted;
}