@import "../../../scss/variables.scss";

.dotted {
  cursor: pointer;
  text-decoration: none;

  &::after {
    background: $color-white;
    border-radius: 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 0.7rem;
    margin: 0.5rem auto 0;
    position: relative;
    width: 0.7rem;
  }
}

/* HACK: CSS modules do not support composes inside pseudo-selectors */
.dotted-hover {
  &:hover {
    cursor: pointer;
    margin: 0 0 0.7rem;
    text-decoration: none;

    &::after {
      background: $color-white;
      border-radius: 100%;
      bottom: 0;
      content: "";
      display: block;
      height: 0.7rem;
      margin: 0.5rem auto 0;
      position: relative;
      width: 0.7rem;
    }
  }
}

.gdsbackground {
  align-items: center;
  background-size: cover !important; /* need !important for Chrome (thanks Chrome) */
  background: url("components/TopNav/HeroImage/background.jpg") no-repeat center center fixed;
  display: flex;
  flex-direction: column;
}

.fullsize {
  min-height: 100vh;
  /* IE11 fixes for horizontal width being larger than viewport width */
  width: 100%;
  overflow: hidden;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.link {
  composes: dotted-hover;
  color: $color-white;
  font-family: 'Catamaran', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin: 0 0 1.9rem;
  padding: calc(1.5rem + 7px) 3.5rem 0;
  text-transform: uppercase;
  user-select: none;
  text-decoration: none;
}

.current {
  composes: dotted;
  margin: 0;

  /* Hack around having two classes for applying the dotted css */
  /* Subtract the applied-twice margin */
  &:hover {
    margin: 0 0 0.7rem;
  }
}
