@import "../../../scss/variables.scss";

.dotted {
  cursor: pointer;
  text-decoration: none;

  &::after {
    background: $color-white;
    border-radius: 100%;
    bottom: 0;
    content: "";
    display: block;
    height: 0.7rem;
    margin: 0.5rem auto 0;
    position: relative;
    width: 0.7rem;
  }
}

/* HACK: CSS modules do not support composes inside pseudo-selectors */
.dotted-hover {
  &:hover {
    cursor: pointer;
    margin: 0 0 0.7rem;
    text-decoration: none;

    &::after {
      background: $color-white;
      border-radius: 100%;
      bottom: 0;
      content: "";
      display: block;
      height: 0.7rem;
      margin: 0.5rem auto 0;
      position: relative;
      width: 0.7rem;
    }
  }
}

.gdsbackground {
  align-items: center;
  background-size: cover !important; /* need !important for Chrome (thanks Chrome) */
  background: url("components/TopNav/HeroImage/background.jpg") no-repeat center center fixed;
  display: flex;
  flex-direction: column;
}

.fullsize {
  min-height: 50rem;
  height: 100vh;
  /* IE11 fixes for horizontal width being larger than viewport width */
  width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    position: relative;
    top: -34px;
    left: 0;
    width: 100%;
    height: 34px;

    $shadow: rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 0 50px $shadow;
    -moz-box-shadow: 0 0 50px $shadow;
    box-shadow: 0 0 50px $shadow;
  }
}

.halfsize {
  width: 100%;
  overflow: hidden;
  background: url("components/TopNav/HeroImage/careersbanner.jpg") no-repeat fixed center center / cover;
  min-height: 450px;

  &::before {
    content: "";
    position: relative;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;

    $shadow: rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 50px $shadow;
    -moz-box-shadow: 0 0 50px $shadow;
    box-shadow: 0 0 50px $shadow;
  }
}

.gradient {
  position: absolute;
  opacity: 0.9;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #FED00F, #FED00F, #F4892D, #B37A65, #726A9D, #096B9A, #726A9D, #B37A65, #F4892D, #FED00F, #FED00F);
  background-size: 1400% 1400%;
  animation: cycle 80s ease infinite;
}

@keyframes cycle {
  0% {
    background-position: 0% 54%;
  }

  50% {
    background-position: 100% 47%;
  }

  100% {
    background-position: 0% 54%;
  }
}

.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -20px;
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
  z-index: 100;
}

.links {
  display: flex;
  z-index: 100;
}

.link {
  composes: dotted-hover;

  color: $color-white;
  font-family: $font-body;
  font-weight: $light;
  font-size: $m;
  letter-spacing: 0.1rem;
  margin: 0 0 1.9rem;
  padding: calc(1.5rem + 7px) 3.5rem 0;
  text-transform: uppercase;
  user-select: none;
  text-decoration: none;

  &:last-child {
    padding-right: 0;
  }
}

.blurb {
  font-family: $font-display;
  font-size: $l;
  font-weight: $regular;
  text-align: center;
  color: $color-pure-white;
  margin-top: 220px;
}

.copyright {
  $size: $m;
  color: $color-white;
  font-family: $font-body;
  font-weight: $light;
  font-size: $size;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transform: rotate(-90deg) translateX(calc($size * 10)) translateY(calc($size * 7));
  z-index: 100;
  align-self: flex-end;
}

.current {
  composes: dotted;
  margin: 0;

  // Hack around having two classes for applying the dotted css
  // Subtract the applied-twice margin
  &:hover {
    margin: 0 0 0.7rem;
  }
}

.scroll-indicator {
  // Animation causes poor performance
  // animation: bounce 2s infinite;
  // animation-delay: 5s;
  z-index: 100;
  width: 4.2rem;
  height: 4.2rem;
  background: url("components/TopNav/HeroImage/svg/arrow.svg") center no-repeat;
}

.alpha {
  z-index: 100;
  color: $color-pure-white;
  padding: .2rem 1.5rem;
  border-radius: 1.5rem;
  font-family: $font-body;
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: 1.2rem;
  margin-right: auto;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@media only screen
and (max-device-width : 768px) {
  .halfsize {
    background-attachment: scroll;
  }

  .blurb {
    font-size: 1.8rem;
  }
}
