.jobs-page {
  width: 100%;
}

.jobs-copy {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;

  &:after {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 3em;
    height: 0.2em;
    background: #fed00f;
    content: '';
    margin-top: 0.5em;
  }

  iframe {
    margin: 1rem auto 2rem auto;
  }
}